run = "npm run dev"
entrypoint = "src/pages/index.astro"

[nix]
channel = "stable-24_05"

[nix.packages]
nodejs = "nodejs_22"

[[ports]]
localPort = 4321
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run build && npx serve dist -l 3000"]
deploymentTarget = "static"
publicDir = "dist"
